    
   img.overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    opacity: 0.4;
}

/* ------ global styles ----- */

.dhide {
    display: none;
}

.light {
    background-color: #f7f7f7;
}

.ltgreen {
    background-color: #acd373;
}

.dkgreen {
    background-color: #9abd67;
}

.contain {
    width: 1170px; 
    margin: 0 auto; 

}

.contain1200 {
    width: 1200px; 
    margin: 0 auto; 

}

.float {
    float: right;
}

.talign {
    text-align: center;
}


.comlink {
    font-family: 'Droid Serif', serif;
    font-weight: 400;
    font-size: 18px;
    font-style: italic; 
    color: #acd373; 
    text-decoration: none;
    padding: 11px 20px;
    border-width: 1px;
    border-color: #acd373;
    border-style: solid;
    display: inline-block;
}



h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    color: #454545;
}

h4 {
    font-family: 'Droid Serif', serif;
    font-weight: 400;
    font-size: 18px;
    color: #454545;
    line-height: 37px;
}

h5 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: #acd373;

}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #454545;
    padding-bottom: 20px;
}



/* ------ nav ----- */


nav {
    height: 106px; 
    line-height: 106px; 
    box-shadow: 0 0 5px rgba(0,0,0,0.6); 
}

nav img {
    vertical-align: middle;
}

nav li{
    display: inline-block;  
    margin: 0 10px; 
    vertical-align: middle;
}

nav ul a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 18px;
    font-style: normal;
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul a:hover {
    text-decoration: underline;
}


/* ------ header ----- */

header {
    text-align: center; 
    height: 700px; 
    background-image: url("../images/cityscape.png");
    background-repeat: no-repeat;
    background-position: bottom center; 
}

h1 {
    padding-top: 223px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: #f7f7f7;
}

h2 {
    margin-top: 25px;
    font-family: 'Droid Serif', serif;
    font-weight: 400;
    font-size: 24px;
    font-style: italic; 
    color: #f7f7f7;
}

header a {
    margin-top: 125px; 
    display: block;     
}


/* ------ who ----- */

div.who [class~=contain] {
    padding: 118px 0 96px 0;
}

div.who div:nth-of-type(1) {
    vertical-align: top;
}

div.who div div {
    max-width: 767px;
    padding-bottom: 13px;
    display: inline-block;
}


.who h3 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 35px;
    padding-top:3px;

}

.who h3 img {
    display: inline-block;
    vertical-align: middle;
    padding-right: 19px;
}

div.who div > img {
    padding-right: 115px;
}

.who a {
    margin-top: 18px;
}


/* ------ video ----- */


div.video {
    background-image: url("../images/group-pic.jpg");
    background-repeat: no-repeat;
    background-position: top center; 
    text-align: center;
}


div.video button{
    border: none;
    background-color: transparent;
    padding-top: 192px;
    padding-bottom: 192px
    
}

div.video button:hover{
    cursor: pointer;
}


/* ------ our services  ----- */


div.services [class~=contain] {
    padding: 90px 0 100px 0;
}

div.services > div:first-of-type > div:first-of-type {
    padding-bottom: 20px;
    background-image: url(../images/divider-elipse-grey.png);
    background-position: bottom center;
    background-repeat: no-repeat;
}

.services h3 span {
    color: #acd373;
}


div.services div > div:last-of-type {
    margin-top: 85px;
    margin-bottom: 35px;

}

div.services h5 {
    margin-bottom: 10px;
}

.services li{
    display: inline-block;
    text-align: left;
    margin: 0 10px 25px 10px;

}

.services li span:nth-of-type(1) {
    display: inline-block;
    width: 70px;
    text-align: center;
    margin-right: 5px;

}   

.services li span:nth-of-type(2){
    display: inline-block;
    width: 285px;
    vertical-align: top;


}

/* ------ meet team  ----- */

div.meet > div {
    padding: 95px 0 108px 0;
}

div.meet > div:first-of-type > div:first-of-type {
    padding-bottom: 20px;
    background-image: url(../images/divider-elipse-light.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    
}
.meet h3 {
    color: #f7f7f7;
}
.meet h4 {
    color: #f7f7f7;
}
.meet ul {
    display: inline-block;
    vertical-align: top;
    margin: 43px 97px 0 97px;
    padding-top:70px;  
}

/*div.meet div div > img {
    margin-top: 148px;
}*/

div.meet div div > a:first-of-type {
    display: inline-block;
    height: 49px;
    width: 27px;
    margin-top: 190px;
    background-image: url(../images/arrow-left.png);
    background-position: bottom center;
    background-repeat: no-repeat;
}

div.meet div div > a:last-of-type {
    display: inline-block;
    height: 49px;
    width: 27px;
    margin-top: 190px;
    background-image: url(../images/arrow-right.png);
    background-position: bottom center;
    background-repeat: no-repeat;
}

.meet li {
    display: inline-block;
    border-radius: 8px;
    width: 270px;
    background-color: #f7f7f7;
    margin: 0 15px;
}

.meet li img {
    margin-top: -70px;
    margin-bottom: 15px;
}

.meet li p{
    font-family: 'Droid Serif', serif;
    font-weight: 400;
    font-size: 16px;
    font-style: italic; 
    color: #787878;
    margin-top: 13px;

}

.meet li span {
    display: inline-block;
    width: 270px;
    height: 70px;
    line-height: 70px;
    background-color: #ebebeb;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    
}

.meet li a img {
    margin: 0; 
    vertical-align: middle;
}


/* ------ join  ----- */

div.join {
    text-align: center;
    height: 110px;    
}

.join p {
    color: #f7f7f7;
    display: inline-block;
    vertical-align: middle;
    padding-top: 35px;
}

.join a {
    color: #f7f7f7;
    border-color: #f7f7f7;  
    margin-left: 35px;
    padding: 7px 15px;
}

/* ------ recent works  ----- */

div.works {
    text-align: center;
}

div.works > div:first-of-type > div:first-of-type {
    padding-bottom: 20px;
    background-image: url(../images/divider-elipse-grey.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    margin-bottom: 53px;
}

div.works [class~=contain1200] {
    padding: 90px 0 73px 0;
}

.works h3 span {
    color: #acd373;
}

.works p {
    font-family: 'Droid Serif', serif;
    font-weight: 400;
    font-size: 16px;
    font-style: italic; 
    color: #787878;
    padding-bottom: none;
}

div.works div > img {
    margin-bottom: 16px;
}

div.works div div div {
    display: inline-block;
    background-color: #ebebeb;
    margin: 15px 15px 22px 15px;
}

div.works div > a {
    margin-top: 75px;
    padding: 11px 28px;
}
div.works h5 {
    font-size: 18px;
    margin-bottom: 3px;
}

/* ------  vendor  ----- */

div.vendor {
    background-color: #ebebeb;
    text-align: center;
    line-height: 117px;
    
}

div.vendor img {
    display: inline-block;  
    margin: 0 25px;
    vertical-align: middle;
}

/* ------ testimonials  ----- */

div.testi {
    background-image: url("../images/table-w-book.jpg");
    background-repeat: no-repeat;
    background-position: top center; 
}

div.testi [class~=contain1200] {
    padding: 120px 0 140px 0;
}

div.testi h3, div.testi p {
    display: inline-block;
    color: #f7f7f7;
    width: 300px;
    margin-bottom: 25px;
}


div.testi div div {
    display: inline-block;
    width: 370px;
    vertical-align: top;
    margin: 0 15px;
}

div.testi blockquote{  
    height: 144px;
    width: 370px;
    background-image: url("../images/quote-box.png");
    background-repeat: no-repeat;
    background-position: top right;
    
}

div.testi blockquote span {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #f7f7f7;
    display: inline-block;
    padding: 25px 12px 42px 12px;    
}

div.testi blockquote + div {
    margin-top: 20px;
    width: 370px;
    
}

div.testi div div div img {
    display: inline-block;
    vertical-align: top;
}

div.testi div div div div {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin: 30px 0 0 27px;
}
div.testi div div div div p {
    margin-top: 8px;
    font-family: 'Droid Serif', serif;
    font-style: italic;
}

div.testi a {
    padding: 11px 29px;
}



/* ---- blog ---- */

div.blog {
    text-align: center;
}

div.blog > div:first-of-type > div:first-of-type {
    padding: 105px 0px 20px 0px;
    background-image: url(../images/divider-elipse-grey.png);
    background-position: bottom center;
    background-repeat: no-repeat;
}

div.blog p {
    font-size: 18px;
    font-weight: 600;
    padding: 19px 10px 0 10px;
}

div.blog li {
    display: inline-block;
    background-color: #ebebeb;    
    width: 270px;
    height:  335px;
    vertical-align: top;
    margin: 57px 15px 100px 15px;
    position: relative;
}

div.blog img[src$=".jpg"] {
    display: inline-block;
    margin-bottom: -36px;
}

div.blog div div a {
    display: inline-block;
    background-color: #acd373;
    width: 270px;
    line-height: 50px;
    color: #f7f7f7;
    font-family: 'Driod Serif', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 0;    
}

/* ---- newsletter ---- */

div.news  {
    height: 110px;
    line-height: 110px;
    text-align: center;
}

div.news p {
    display: inline-block;
    vertical-align: middle;
    color: #f7f7f7;
    padding: 0 45px;
}

div.news img {
    vertical-align: middle; 
}

div.news input {
    display: inline-block;
    height: 34px;
    line-height: 36px;
    width:177px;
    border: 1px solid #f7f7f7;
    background-color: transparent;
    font-family: 'Droid Serif', serif;
    font-style: italic;
    font-size: 14px;
    color: #f7f7f7;
    text-align: center;
    vertical-align: middle;
}

div.news button {
    height: 40px;
    width: 50px; 
    border: none;
    background-color: transparent;
    background-image: url(../images/email-button.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    margin-left: -2px;
}

div.news button:hover{
    cursor: pointer;
}

/* ---- map ---- */

div.map div{
    width: 1600px;
    text-align: center;
    vertical-align: middle;
}


/* ---- contact ---- */

.contact {
    text-align: center;
}

.contact h3 {
    color: #f7f7f7;
    padding: 80px 0px 15px 0px;
    background-image: url(../images/divider-elipse-light.png);
    background-position: bottom center;
    background-repeat: no-repeat;
}

.contact p {
    color: #f7f7f7;
    padding-bottom: 10px;
}

div.contact form{
    display: inline-block;
    padding-top: 39px;
    text-align: center;
    width: 570px;
}

div.contact label{
    display: inline-block;
    text-align: left;    
}

.contact input, .contact textarea {
    
    margin-bottom: 34px;
    border: 0;
    background-color: #9abd67;
    color: #f7f7f7;
    font-family: 'Droid Serif', serif;
    font-style: italic;
    font-size: 15px;
}

.contact input {
    width:535px;
    height: 40px;
    padding: 0 18px ;
}

.contact textarea {
    width: 500px;
    height: 135px;
    padding: 21px 52px 0 18px;
    resize: none;
}

.contact button{
    background-color: #9abd67;
    border: 0;
    color: #f7f7f7;
    margin-top: 10px;
    width: 110px;
    margin-bottom: 80px;
}

div.contact button:hover{
    cursor: pointer;
}


/* ---- footer ---- */

footer div {
    height: 100px;
    line-height: 100px;
    
}

footer p {
    display: inline-block;
    vertical-align: middle;
    color: #f7f7f7;
    padding: 0;
}


footer li {
    display: inline-block;
    vertical-align: middle;
}








